#header-flat{
  padding: 40px 0;
  border-bottom: 1 px solid $gray-lighter
}


#header-flat h2{
  font-size: 20px
}

#body-flat{
  padding: 50px;
  background: $gray-light
}

#body-flat p #body-flat li {
  font-size: 15px;
  color: $gray-lighter
}

#body-flat h2{
  font-size: 19px;
  color: $gray
}
































